<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>